# Configuration:
SALES_API_PORT=3000

# Postgre SQL:
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_NAME=dbsales
POSTGRES_USER=sa
POSTGRES_PASSWORD=DefaultPassword

# MongoDB:
MONGO_PORT=27019
MONGO_USER=mongo
MONGO_PASSWORD=DefaultPassword

# JWT secret:
JWT_SECRET=ここには秘密はない、無駄に時間を無駄にした
JWT_EXPIRATION_MS=86400000